<h2><%= @user.name ? @user.name : 'Bạn' %> thân mến,</h2>
<p>Chào mừng bạn đến với website <%= @url %></p>
<p>
  Bạn đã đăng ký thành công, bây giờ bạn có thể đăng nhập tại <%= @login_url %>
</p>
<p>Cảm ơn bạn. Chúc bạn một ngày vui!</p>
<p><strong>Ban quản trị</strong></p>
