<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="company-intro">
        <div class="company-name">Tin chính chủ bất động sản số 1 Việt Nam</div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <ul class="list-unstyled">
          <li>Copyright © 2008 - 2018 tinchinhchu.com</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h4>5 lý do bạn nên tìm kiếm thông tin chính chủ tại website chúng tôi:</h4>
        <ul>
          <li>Miễn phí và sẽ luôn là như vậy.</li>
          <li>Tìm kiếm dễ dàng, nhanh chóng.</li>
          <li>Tin nhanh nhất, cập nhật liên tục.</li>
          <li>Có dịch vụ tin VIP dành cho khách hàng thân thiết.</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flaodongnuocngoai.net%2F&tabs&width=300&height=220&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=753794191390123" width="300" height="140" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
</footer>
<!-- <div class="sticky-phone">
    <a href="tel:0966042043"><i class="fa fa-phone"></i> 0966 042 043</a>
</div> -->
