#footer {
  background: #056699;
  color: #fff;
  padding: 20px 0 50px;
  .company-intro {
    text-align: center;
  }
  .company-name {
    font-size: 25px;
    line-height: 2em;
    text-transform: uppercase;
  }
  li {
    line-height: 1.5em;
    font-size: 16px;
  }
}
