<p>Xin chào <%= @resource.email %>!</p>

<p>Ai đó đã yêu cầu một liên kết để đặt lại mật khẩu của bạn. Bạn có thể đặt lại mật khẩu bằng việc nhấp chuột vào liên kết dưới đây sau đó đặt lại mật khẩu.</p>

<p><%= link_to 'Đặt lại mật khẩu', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu, vui lòng bỏ qua E-mail này.</p>
<p>Mật khẩu của bạn sẽ không bị thay đổi cho đến khi bạn truy cập vào liên kết trên và thay đổi mật khẩu.</p>
<p><strong>Ban quản trị</strong></p>
