.panel-auth {
  .panel-heading {
    background-color: #055699;
    text-align: center;
    text-transform: uppercase;
  }
  h1 {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  hr {
    margin-top: 0;
    margin-bottom: 0;
    border-color: #00A80C;
  }
}
